package systems.comodal.hash.gen;

import systems.comodal.hash.api.Hash;
import systems.comodal.hash.{{hash}};
import systems.comodal.hash.api.HashFactory;
import systems.comodal.hash.base.BigEndianOffsetHash;

public final class BigEndianOffset{{hash}} extends BigEndianOffsetHash implements {{hash}} {

  public BigEndianOffset{{hash}}(final byte[] data, final int offset) {
    super(data, offset);
  }

  @Override
  public HashFactory<{{hash}}> getFactory() {
    return FACTORY;
  }

  @Override
  public boolean equals(final Object other) {
    return this == other || other != null && other instanceof {{hash}}
        && ((Hash) other).digestEquals(data, offset);
  }
}