package systems.comodal.hash;

import systems.comodal.hash.api.Hash;
import systems.comodal.hash.api.HashFactory;
import systems.comodal.hash.base.BaseFactory;
import systems.comodal.hash.gen.BigEndianOffset{{hash}};
import systems.comodal.hash.gen.{{hash}}Value;
import systems.comodal.hash.gen.LittleEndianOffset{{hash}};

public interface {{hash}} extends Hash {

  HashFactory<{{hash}}> FACTORY = new {{hash}}.Factory();

  final class Factory extends BaseFactory<{{hash}}> {

    private Factory() {
      super("{{algoName}}");
    }

    @Override
    public int getDigestLength() {
      return {{digestLength}};
    }

    @Override
    public {{hash}} overlay(final byte[] digest) {
      return new {{hash}}Value(digest);
    }

    @Override
    public {{hash}} overlay(final byte[] digest, final int offset) {
      return new BigEndianOffset{{hash}}(digest, offset);
    }

    @Override
    public {{hash}} reverseOverlay(final byte[] digest, final int offset) {
      return new LittleEndianOffset{{hash}}(digest, offset);
    }

    @Override
    public String toString() {
      return "{{hash}}.Factory - {{digestLength}} byte digest";
    }
  }
}