package systems.comodal.hash;

import systems.comodal.hash.api.Hash;
import systems.comodal.hash.api.HashFactory;
import systems.comodal.hash.base.BaseFactory;
import systems.comodal.hash.gen.Offset{{hash}};
import systems.comodal.hash.gen.{{hash}}Value;
import systems.comodal.hash.gen.Reverse{{hash}};

public interface {{hash}} extends Hash {

  HashFactory<{{hash}}> FACTORY = new {{hash}}.Factory();

  final class Factory extends BaseFactory<{{hash}}> {

    private Factory() {
      super("{{algoName}}");
    }

    @Override
    public int getDigestLength() {
      return {{digestLength}};
    }

    @Override
    public int getOffsetLength() {
      return {{digestOffset}};
    }

    @Override
    public long getMultiHashFnCode() {
      return {{fnCode}};
    }

    @Override
    public {{hash}} overlay(final byte[] digest) {
      return new {{hash}}Value(digest);
    }

    @Override
    public {{hash}} overlay(final byte[] digest, final int offset) {
      return offset == 0 && digest.length == getDigestLength()
          ? overlay(digest) : new Offset{{hash}}(digest, offset);
    }

    @Override
    public {{hash}} reverseOverlay(final byte[] digest, final int offset) {
      return new Reverse{{hash}}(digest, offset);
    }

    @Override
    public String toString() {
      return "{{hash}}.Factory - {{digestLength}} byte digest";
    }
  }
}