package systems.comodal.hash.gen;

import Hash;
import systems.comodal.hash.{{hash}};
import HashFactory;
import HashValue;

public final class {{hash}}Value extends HashValue implements {{hash}} {

  public {{hash}}Value(final byte[] data) {
    super(data);
  }

  @Override
  public HashFactory<{{hash}}> getHashFactory() {
    return FACTORY;
  }

  @Override
  public boolean equals(final Object other) {
    return this == other || other != null && other instanceof {{hash}}
        && ((Hash) other).digestEquals(data);
  }
}